
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@{
    if (TempData["l_msg"] != null)
    {
        <script>
                                Swal.fire({
                                    position: 'center-center',
                                    icon: 'success',
                                    title:'Login Successfull',
                                    showConfirmButton: false,
                                    timer: 5500,
                                    customClass: {
                                        confirmButton: 'btn btn-primary'
                                    },
                                    buttonsStyling: false
                                });
        </script>

    }
}

<section class="mt-80">
    <div class="container">
        <h2>AdminProfile</h2>

        <h1>Welcome @Session["Adminusername"]</h1>
    </div>

</section>
