
@{
    ViewBag.Title = "SuperAdminProfile";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}


<section class="pt-80">
    <div class="container">
        <h2>SuperAdminProfile</h2>

    </div>
</section>

